<launch>
<!-- Launch file for Livox AVIA LiDAR -->
  <group ns="fast_livo">

	<arg name="rviz" default="true" />

	<arg name="bag_name" value="/home/jeff/Downloads/dataset/r3live_opensource_bag/degenerate_seq_02.bag"/>
	<!-- <arg name="bag_name" value="/home/jeff/Downloads/dataset/r3live_opensource_bag/degenerate_seq_00.bag"/> -->
	<!-- <arg name="bag_name" value="/home/jeff/Downloads/dataset/r3live_opensource_bag/hku_park_00.bag"/> -->
	<node pkg="rosbag" type="play" name="rosbag" args="-r 3.0 -s 0.0 $(arg bag_name)"/>

	<rosparam command="load" file="$(find fast_livo)/config/avia_resize_r3live.yaml" />

	<node pkg="fast_livo" type="fastlivo_mapping" name="laserMapping" output="screen" >
		<rosparam file="$(find fast_livo)/config/camera_pinhole_resize_r3live.yaml" />
	</node>
	
	<group if="$(arg rviz)">
		<node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find fast_livo)/rviz_cfg/loam_livox.rviz" />
	</group>
	<node pkg="image_transport" type="republish" name="republish" args="compressed in:=/camera/image_color out:=/left_camera/image" output="screen" respawn="true"/>

launch-prefix="gdb -ex run --args" launch-prefix="valgrind --leak-check=full --show-leak-kinds=all"
</group>
</launch> 	
